PORT=5000
MONGO_URI=mongodb+srv://taskmanager:TaskManager123!@taskmanager.t4ip0zv.mongodb.net/taskmanager?retryWrites=true&w=majority
JWT_SECRET=f4bcb83b7b3c0f8fffa7c9e5e93a2fbd0b61ab5f3b12bfa0caa8b9e84ad9dc1b
NODE_ENV=production

